<div class="modal-header">
  <h4 class="modal-title pull-left">Select Project</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label class="checkbox-inline" for="searchText" >Search:</label>
  <input class="form-control" type="text" id="searchText" [(ngModel)]="searchText"  autocomplete="off" ngDefaultControl>
  <table class="table">
    <caption hidden>List of all available projects</caption>
    <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Since</th>
      <th scope="col">Until</th>
      <th scope="col">Workload</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of allProjects | filterProjects : {searchText: searchText}">
      <td>{{project.title}}</td>
      <td>
        <label hidden for="since"></label>
        <input type="date" name="since" id="since" #since>
      </td>
      <td>
        <label hidden for="until"></label>
        <input type="date" name="until" id="until" #until>
      </td>
      <td>
        <label hidden for="workload"></label>
        <input type="number" min="0" max="100" id="workload" #workload>
      </td>
      <td>
        <button class="btn btn-success" type="button" (click)="onAddProject(project, since.valueAsDate, until.valueAsDate, +workload.value)">Add</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="errorOccurred" class="alert alert-danger">
    {{errorMessage}}
  </div>
</div>
