#controls{
  background-color: grey;
  position: absolute;
  top: 28%;
  left: 1%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10%;
}

#controls div{
  margin: 10px;
  height: 30%;
  background-color: lightgray;
}


