#controls{
  height: 40%;
  width: 70px;
  background-color: grey;
  position: absolute;
  top: 30%;
  left: 2%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#controls div{
  margin: 10px;
  height: 30%;
  background-color: lightgray;
}
