<div>
  <h2>{{employee.firstName}} {{employee.lastName}}</h2>
  <img src="" alt="No Picture!">
</div>
<div>
  <table>
    <tr>
      <td>Id: </td>
      <td>{{employee.employeeId}}</td>
    </tr>
    <tr>
      <td>Email: </td>
      <td>{{employee.email}}</td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td>{{employee.phone}}</td>
    </tr>
    <tr>
      <td>Birthday: </td>
      <td>{{employee.birthday.toDateString()}}</td>
    </tr>
    <tr>Something that the employee can do</tr>
  </table>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th>Since</th>
      <th>Until</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of employee.projects">
      <td class="project-name">{{project.project.title}}</td>
      <td>{{project.since.toDateString()}}</td>
      <td>{{project.until.toDateString()}}</td>
      <td>
        <button class="btn btn-danger" type="button" (click)="onDeleteProject(project.workingOnId)" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="onOpenAddProjectModal(addProjectModal)">Add Project</button>
<ng-template #addProjectModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Select Project</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label class="checkbox-inline" for="searchText" >Search:</label>
    <input class="form-control" type="text" id="searchText" [(ngModel)]="searchText"  autocomplete="off" ngDefaultControl>
    <table class="table">
      <tbody>
      <tr *ngFor="let project of allProjects">
        <td>{{project.title}}</td>
        <td>
          <button class="btn btn-success" type="button" (click)="onAddProject(project)" >Add</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

