<br>
<div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h2>{{project.title}}</h2>
        </div>
        <div class="card-body">
          <table>
            <tr><th>Project ID:</th></tr>
            <tr><td >{{project.projectId}}</td></tr>
            <tr><th>Since:</th></tr>
            <tr><td >{{project.since.toDateString()}}</td></tr>
            <tr><th>Until:</th></tr>
            <tr><td >{{project.until.toDateString()}}</td></tr>
            <tr><th>External:</th></tr>
            <tr><td >{{project.isExternal}}</td></tr>
            <tr>
              <th>Description:</th>
            </tr>
            <tr>
              <td>{{project.description}}</td>
            </tr>
            <tr>
              <th>Sites:</th>
            </tr>
            <tr *ngFor="let site of project.sites">
              <td><a href="{{site}}" target="_blank">{{site}}</a></td>
            </tr>
            <tr *ngIf="project.sites.length === 0">
              <td>-</td>
            </tr>
          </table>
          <div class="row justify-content-center">
            <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onUpdate()">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <table class="table">
        <thead class="table-head">
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Since</th>
          <th>Until</th>
          <th>Workload</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of project.employees" >
          <td class="employee-link" (click)="onOpenEmployeeDetail(employee.employee.employeeId)">{{employee.employee.firstName}}</td>
          <td>{{employee.employee.lastName}}</td>
          <td>{{employee.since.toDateString()}}</td>
          <td>{{employee.until.toDateString()}}</td>
          <td>{{employee.workload}}%</td>
          <td>
            <button class="btn btn-info btn-sm" type="button" (click)="onEdit(employee)" >Edit</button>
            <button class="btn btn-danger btn-sm" type="button" (click)="onDelete(employee)">Delete</button>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row justify-content-center">
        <button class="btn btn-outline-primary btn-sm" type="button" (click)="onOpenAddEmployeeModal()">Add</button>
      </div>
    </div>
  </div>




