<br>
<div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h2>{{project.title}}</h2>
        </div>
        <div class="card-body">
          <table>
            <caption hidden>Project details:</caption>
            <tr><th scope="row">Project ID:</th></tr>
            <tr><td >{{project.projectId}}</td></tr>
            <tr><th scope="row">Since:</th></tr>
            <tr><td >{{project.since.toDateString()}}</td></tr>
            <tr><th scope="row">Until:</th></tr>
            <tr><td >{{project.until.toDateString()}}</td></tr>
            <tr>
              <th scope="row">Description:</th>
            </tr>
            <tr>
              <td>{{project.description}}</td>
            </tr>
            <tr>
              <th scope="row">Sites:</th>
            </tr>
            <tr *ngFor="let site of project.sites">
              <td>- <a href="{{site}}" target="_blank">{{site}}</a></td>
            </tr>
            <tr *ngIf="project.sites.length === 0">
              <td>-</td>
            </tr>
            <tr><th scope="row">External:</th></tr>
            <tr><td >{{project.isExternal}}</td></tr>
          </table>
          <div class="row justify-content-center">
            <button id="editButton" class="btn btn-outline-secondary btn-sm" type="button" (click)="onUpdate()">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <tabset>
        <tab heading="Mapview">
          <app-map></app-map>
        </tab>
        <tab heading="Tableview">
          <table class="table">
            <caption hidden>List of all employees</caption>
            <thead class="table-head">
            <tr>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">Since</th>
              <th scope="col">Until</th>
              <th scope="col">Workload</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employee of project.employees" >
              <td>{{employee.employee.firstName}}</td>
              <td>{{employee.employee.lastName}}</td>
              <td>{{employee.since.toDateString()}}</td>
              <td>{{employee.until.toDateString()}}</td>
              <td>{{employee.workload}}%</td>
              <td>
                <button class="btn btn-outline-secondary btn-sm employee-link" type="button" (click)="onOpenEmployeeDetail(employee.employee.employeeId)">Details</button>
                <button class="btn btn-outline-info btn-sm" type="button" (click)="onEdit(employee)" >Edit</button>
                <button class="btn btn-outline-danger btn-sm" type="button" (click)="onDelete(employee.workingOnId)">Delete</button>
              </td>
            </tr>
            </tbody>
          </table>
        </tab>
      </tabset>
      <div class="row justify-content-center">
        <button id="openAddEmployeeModal" class="btn btn-outline-secondary btn-sm" type="button" (click)="onOpenAddEmployeeModal()">Add employee</button>
      </div>
    </div>
  </div>




