<div class="row">
  <div class="col-md-8">
    <label class="checkbox-inline" for="searchText" >Search:</label>
    <input class="form-control" type="text" id="searchText" [(ngModel)]="searchText" ngDefaultControl>
  </div>
</div>
<br>
<table class="table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr id="link" *ngFor="let employee of employees | filterEmployees : {searchText: searchText}" >
    <td (click)="onOpenEmployeeProfile(employee)">{{employee.firstName}}</td>
    <td (click)="onOpenEmployeeProfile(employee)">{{employee.lastName}}</td>
    <td>
      <button class="btn btn-danger" type="button" (click)="onDelete(employee)">Delete</button>
      <button class="btn btn-warning" type="button" (click)="onUpdate(employee)">Update</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="btn btn-primary" type="button" (click)="onAddEmployee()">Add Dummy Employee</button>
