<div class="modal-header d-flex justify-content-center">
  <h4 class="modal-title">Create employee</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" name="firstName" class="form-control" formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" id="lastName" name="lastName" class="form-control" formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" id="birthday" name="birthday" class="form-control" formControlName="birthday">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" class="form-control" formControlName="phone">
    </div>
    <div class="form-group">
      <label for="isExternal">External </label>
      <div>
        <input type="checkbox" id="isExternal" name="isExternal" class="checkbox"
               formControlName="isExternal">
      </div>
    </div>
    <div class="form-group" *ngIf="!form.invalid">
      <label for="image">Image</label>
      <div class="input-group" id="image">
        <div class="input-group" id="imageTypeDiv">
          <label for="imageType"></label>
          <select class="form-control" id="imageType" name="imageType"
                  formControlName="imageType" (change)="changeSeed()" [disabled]="this.form.value.firstName === ''">
            <option value="initials">Initials</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="human">Human</option>
            <option value="identicon">Identicon</option>
            <option value="bottts">Bottts</option>
          </select>
        </div>
      </div>
    </div>
    <div  class="row justify-content-center" *ngIf="!form.invalid">
      <img height="100px" width="100px" src="https://avatars.dicebear.com/v2/{{imageSeed}}.svg" alt="no pic">
    </div>
    <div class="row justify-content-center" *ngIf="!form.invalid">
      <button type="button" class="btn btn-group" (click)="changeSeed()"><i-feather name="refresh-ccw"></i-feather></button>
    </div>
    <br>
    <div class="form-group">
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-success" [disabled]="form.invalid">Create employee</button>
      </div>
    </div>
  </form>
  <div *ngIf="errorOccurred" class="alert alert-danger">
    {{errorMessage}}
  </div>
</div>
