<div class="modal-header d-flex justify-content-center">
  <h4 class="modal-title">{{header}} employee</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #employeeForm="ngForm" (ngSubmit)="onCreateEmployee(employeeForm)">
    <div class="form-group">
      <label for="firstName">First name</label>
      <input type="text" id="firstName" name="firstName" class="form-control"
             ngModel="{{employee.firstName}}">
    </div>
    <div class="form-group">
      <label for="lastName">Last name</label>
      <input type="text" id="lastName" name="lastName" class="form-control"
             ngModel="{{employee.lastName}}">
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" id="birthday" name="birthday" class="form-control"
             ngModel="{{birthday}}">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control"
             ngModel="{{employee.email}}">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone" class="form-control"
             ngModel="{{employee.phone}}">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <div class="input-group" id="image">
        <div class="input-group" id="imageTypeDiv">
          <label for="imageType"></label>
          <select class="form-control" id="imageType" name="imageType"
                  [(ngModel)]="imageType" (ngModelChange)="clearSeed()">
            <option value="initials">Default</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="human">Human</option>
            <option value="identicon">Identicon</option>
            <option value="bottts">Bottts</option>
          </select>
        </div>
        <label for="imageSeed"></label>
        <input type="text" id="imageSeed" name="imageSeed" class="form-control"
               [disabled]="imageType=='initials'" [(ngModel)]="imageSeed">
        <button type="button" id="randomSeed" class="btn btn-group"
                [disabled]="imageType=='initials'" (click)="this.imageSeed = generateRandomString(10)">
          <i-feather name="refresh-ccw"></i-feather>
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="isExternal">External </label>
      <div>
        <input type="checkbox" id="isExternal" name="isExternal" class="checkbox"
               [ngModel]="employee.isExternal">
      </div>
    </div>
    <div class="form-group">
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-success">{{header}} Employee</button>
      </div>

    </div>
  </form>
  <div *ngIf="errorOccurred" class="alert alert-danger">
    {{errorMessage}}
  </div>
</div>
