<br>
<div class="row justify-content-center">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header text-center">
        <h2>{{employee.firstName}} {{employee.lastName}}</h2>
      </div>
      <div class="card-body">
        <div id="profile-img" >
            <img src="{{employee.image}}" alt="">
        </div>
          <table>
            <tr>
              <th>Id: </th>
              <td class="text-right">{{employee.employeeId}}</td>
            </tr>
            <tr>
              <th>Email: </th>
              <td class="text-right">{{employee.email}}</td>
            </tr>
            <tr>
              <th>Phone: </th>
              <td class="text-right">{{employee.phone}}</td>
            </tr>
            <tr>
              <th>Birthday: </th>
              <td class="text-right">{{employee.birthday.toDateString()}}</td>
            </tr>
          </table>
        <div class="row justify-content-center">
          <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onUpdate()">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <table class="table">
      <thead class="table-head">
      <tr>
        <th>Project</th>
        <th>Since</th>
        <th>Until</th>
        <th>Workload</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of employee.projects">
        <td class="project-link" (click)="onOpenProjectDetail(project.project.projectId)">{{project.project.title}}</td>
        <td>{{project.since.toDateString()}}</td>
        <td>{{project.until.toDateString()}}</td>
        <td>{{project.workload}}%</td>
        <td>
          <button class="btn btn-info" type="button" (click)="onEditProject(project)" >Edit</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteProject(project.workingOnId)" >Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row justify-content-center">
      <button class="btn btn-outline-primary" (click)="onOpenAddProjectModal()">Add</button>
    </div>
  </div>
</div>

