<br>
<div class="row justify-content-center">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header text-center">
        <h2>{{employee.firstName}} {{employee.lastName}}</h2>
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div id="profile-img">
            <img *ngIf="employee.image != ''" src="https://avatars.dicebear.com/v2/{{employee.image}}.svg" alt="">
          </div>
        </div>
          <table>
            <caption>Employee details:</caption>
            <tr><th scope="row">Id: </th></tr>
            <tr> <td>{{employee.employeeId}}</td></tr>
            <tr><th scope="row">Email: </th></tr>
            <tr><td>{{employee.email}}</td></tr>
            <tr><th scope="row">Phone: </th></tr>
            <tr><td >{{employee.phone}}</td></tr>
            <tr><th scope="row">Birthday: </th></tr>
            <tr><td >{{employee.birthday.toDateString()}}</td></tr>
            <tr><th scope="row">External: </th></tr>
            <tr> <td>{{employee.isExternal}}</td></tr>
          </table>
        <div class="row justify-content-center">
          <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onUpdate()">Edit</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <tabset>
      <tab heading="Mapview" class="tab">
        <app-map-employee-detail></app-map-employee-detail>
      </tab>
      <tab heading="Tableview">
        <table class="table">
          <caption>List of all projects</caption>
          <thead class="table-head">
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Since</th>
            <th scope="col">Until</th>
            <th scope="col">Workload</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let project of employee.projects">
            <td class="project-link">{{project.project.title}}</td>
            <td>{{project.since.toDateString()}}</td>
            <td>{{project.until.toDateString()}}</td>
            <td>{{project.workload}}%</td>
            <td>
              <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onOpenProjectDetail(project.project.projectId)" >Details</button>
              <button class="btn btn-outline-info btn-sm" type="button" (click)="onEditProject(project)" >Edit</button>
              <button class="btn btn-outline-danger btn-sm" type="button" (click)="onDeleteProject(project.workingOnId)" >Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </tab>
    </tabset>
    <div class="row justify-content-center">
      <button class="btn btn-outline-secondary btn-sm" type="button" (click)="onOpenAddProjectModal()">Add project</button>
    </div>
  </div>
</div>

