<div class="modal-header">
  <h4 class="modal-title pull-left">Select Employee</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label class="checkbox-inline" for="searchText" >Search:</label>
  <input class="form-control" type="text" id="searchText" [(ngModel)]="searchText"  autocomplete="off" ngDefaultControl>
  <table class="table">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Workload</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of allEmployees | filterEmployees : {searchText: searchText}">
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
        <td>
          <input type="number" min="0" max="100" name="workload" #workload>
        </td>
        <td class="justify-content-end">
          <button class="btn btn-success" type="button" (click)="onAddEmployee(employee, workload)">Add</button>
        </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="errorOccurred" class="alert alert-danger">
    {{errorMessage}}
  </div>
</div>
