<div class="modal-header d-flex justify-content-center">
  <h4 class="modal-title">Update Project</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Project title</label>
      <input type="text" id="title" name="title" class="form-control" formControlName="title">
      <app-show-error-message [control]="form.get('title')"></app-show-error-message>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea  type="text" id="description" name="description" class="form-control"  formControlName="description" rows="7"></textarea>
      <app-show-error-message [control]="form.get('description')"></app-show-error-message>
    </div>
    <div class="form-group">
      <label for="since">Since</label>
      <input type="date" id="since" name="since" class="form-control" formControlName="since">
      <app-show-error-message [control]="form.get('since')"></app-show-error-message>
    </div>
    <div class="form-group">
      <label for="until">Until</label>
      <input type="date" id="until" name="until" class="form-control" formControlName="until">
      <app-show-error-message [control]="form.get('until')"></app-show-error-message>
    </div>
    <div class="form-group">
      <label for="siteString">Sites</label>
      <textarea type="text" id="siteString" name="sites" class="form-control" formControlName="siteString"
                placeholder="Please only enter valid urls as comma separated list"></textarea>
      <app-show-error-message [control]="form.get('siteString')"></app-show-error-message>
    </div>
    <div class="form-group">
      <label for="isExternal">External</label>
      <div>
        <input class="checkbox" type="checkbox" id="isExternal" name="isExternal" formControlName="isExternal">
      </div>
    </div>
    <div class="form-group">
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-success">Update Project</button>
      </div>
    </div>
  </form>
  <div *ngIf="errorOccurred" class="alert alert-danger">
    {{errorMessage}}
  </div>
</div>
